<div class="container">
    <div class="page-content">
        <img class="behind-product" src="assets/img/Behind-Product.png">
        <div class="top-product-carousel" drag-scroll-y-disabled="true">
          <drag-scroll class="product-carousel" drag-scroll-y-disabled="true" [snap-disabled]="snapDisabled" (reachesLeftBound)="topLeftBoundStat($event)" (reachesRightBound)="topRightBoundStat($event)" #topScroller>
            <div drag-scroll-item *ngFor="let product of products1; let i = index">
                <div class="product" (click)="selectProduct(product); screenShadingSelectedProductAnimation(); screenCircularHighlightSelectedProductAnimation(); selectedProductImageAreaSelectedProductAnimation(); selectedProductInformationAreaSelectedProductAnimation()">
                    <img class="product-image" [src]="product.smallImg">
                </div>
            </div>
          </drag-scroll>
        </div>
        <div class="bottom-product-carousel" drag-scroll-y-disabled="true">
          <drag-scroll class="product-carousel" drag-scroll-y-disabled="true" [snap-disabled]="snapDisabled" (reachesLeftBound)="bottomLeftBoundStat($event)" (reachesRightBound)="bottomRightBoundStat($event)" #bottomScroller>
            <div drag-scroll-item *ngFor="let product of products2; let i = index">
                <div class="product" (click)="selectProduct(product); screenShadingSelectedProductAnimation(); screenCircularHighlightSelectedProductAnimation(); selectedProductImageAreaSelectedProductAnimation(); selectedProductInformationAreaSelectedProductAnimation()">
                    <img class="product-image" [src]="product.smallImg">
                </div>
            </div>
          </drag-scroll>
        </div>

        <img class="price-tracks-without-shading" src="assets/img/Price-Tracks-Without-Shading.png">
        <img class="product-area-shading-and-front-panel" src="assets/img/Product-Area-Shading-and-Front-Panel.png">
        <img class="top-scroll-left-button-off" src="assets/img/Button-Off-Left.png">
        <img class="top-scroll-left-button-on" [src]="topLeftNav" [style.display]="topLeftNavDisabled" (click)="topScrollLeft()" (mousedown)="topLeftNavMouseDown()" (mouseup)="topLeftNavMouseUp()" (mouseleave)="topLeftNavMouseLeave()">
        <img class="top-scroll-right-button-off" src="assets/img/Button-Off-Right.png">
        <img class="top-scroll-right-button-on" [src]="topRightNav" [style.display]="topRightNavDisabled" (click)="topScrollRight()" (mousedown)="topRightNavMouseDown()" (mouseup)="topRightNavMouseUp()" (mouseleave)="topRightNavMouseLeave()">
        <img class="bottom-scroll-left-button-off" src="assets/img/Button-Off-Left.png">
        <img class="bottom-scroll-left-button-on" [src]="bottomLeftNav" [style.display]="bottomLeftNavDisabled" (click)="bottomScrollLeft()" (mousedown)="bottomLeftNavMouseDown()" (mouseup)="bottomLeftNavMouseUp()" (mouseleave)="bottomLeftNavMouseLeave()">
        <img class="bottom-scroll-right-button-off" src="assets/img/Button-Off-Right.png">
        <img class="bottom-scroll-right-button-on" [src]="bottomRightNav" [style.display]="bottomRightNavDisabled" (click)="bottomScrollRight()" (mousedown)="bottomRightNavMouseDown()" (mouseup)="bottomRightNavMouseUp()" (mouseleave)="bottomRightNavMouseLeave()">


        <!-- ngif directive used to only render following code if product was selected. Required to prevent errors caused by accesses to null data-->
        <div *ngIf="selectedProduct" class="product-selection">
            <img [class.hidden]="screenShadingProductHidden" [class.show]="screenShadingProductSelectedAnimationActive" [class.shown]="screenShadingProductShown" [class.hide]="screenShadingProductCanceledAnimationActive" class="screen-shading-animations screen-shading" src="assets/img/Screen-Shading.png">
            <img [class.hidden]="screenCircularHighlightProductHidden" [class.show]="screenCircularHighlightProductSelectedAnimationActive" [class.shown]="screenCircularHighlightProductShown" [class.hide]="screenCircularHighlightProductCanceledAnimationActive" class="screen-circular-highlight-animations screen-circular-highlight" src="assets/img/Screen-Circular-Highlight.png">
            <div [class.hidden]="selectedProductImageAreaProductHidden" [class.show]="selectedProductImageAreaProductSelectedAnimationActive" [class.shown]="selectedProductImageAreaProductShown" [class.hide]="selectedProductImageAreaProductCanceledAnimationActive" class="selected-product-image-area-animations selected-product-image-area">
              <img class="selected-product-image" [src]="selectedProductImage">
            </div>

            <div [class.hidden]="selectedProductInformationAreaProductHidden" [class.show]="selectedProductInformationAreaProductSelectedAnimationActive" [class.shown]="selectedProductInformationAreaProductShown" [class.hide]="selectedProductInformationAreaProductCanceledAnimationActive" class="selected-product-information-area-animations selected-product-information-area">
                <p class="selected-product-name">{{ selectedProduct.name }}</p>
                <p class="selected-product-description" [style.font-size]="selectedProductDescriptionFontSize">{{ selectedProduct.description }}</p>
                <p class="selected-product-price">Price: {{ selectedProduct.price.toFormat('$0,0.00') }}</p>

              <img class="information-separator" src="assets/img/Information-Separator.png">
              <img class="minus-button" [src]="minusButton" (click)="decreaseQuantityWanted()" (mousedown)="minusButtonMouseDown()" (mouseup)="minusButtonMouseUp()" (mouseleave)="minusButtonMouseLeave()">
              <p class="selected-product-quantity-wanted">{{ selectedProductQuantityWanted }}</p>
              <img class="plus-button" [src]="plusButton" (click)="increaseQuantityWanted()" (mousedown)="plusButtonMouseDown()" (mouseup)="plusButtonMouseUp()" (mouseleave)="plusButtonMouseLeave()">

              <p class="selected-product-total-price">Total: {{ (selectedProduct.price.multiply(selectedProductQuantityWanted)).toFormat('$0,0.00') }}</p>
              <img class="cancel-button" [src]="cancelButton" (click)="screenShadingCanceledProductAnimation(); screenCircularHighlightCanceledProductAnimation(); selectedProductImageAreaCanceledProductAnimation(); selectedProductInformationAreaCanceledProductAnimation()" (mousedown)="cancelButtonMouseDown()" (mouseup)="cancelButtonMouseUp()" (mouseleave)="cancelButtonMouseLeave()">
              <p [class.cancel-button-clicked]="cancelButtonClicked" class="cancel-text" (click)="screenShadingCanceledProductAnimation(); screenCircularHighlightCanceledProductAnimation(); selectedProductImageAreaCanceledProductAnimation(); selectedProductInformationAreaCanceledProductAnimation()" (mousedown)="cancelButtonMouseDown()" (mouseup)="cancelButtonMouseUp()" (mouseleave)="cancelButtonMouseLeave()">Cancel</p>
              <img class="purchase-button" [src]="purchaseButton" (mousedown)="purchaseButtonMouseDown()" (mouseup)="purchaseButtonMouseUp()" (mouseleave)="purchaseButtonMouseLeave()">
              <p [class.purchase-button-clicked]="purchaseButtonClicked" class="purchase-text" (mousedown)="purchaseButtonMouseDown()" (mouseup)="purchaseButtonMouseUp()" (mouseleave)="purchaseButtonMouseLeave()">Purchase</p>
          </div>
        </div>
    </div>
</div>
